## Terceira etapa Python

Utilizando as bibliotecas [SQLAlchemy](https://www.sqlalchemy.org) e [Psycopg](https://www.psycopg.org) do Python realizar a consulta dos dados no Banco

In [1]:
# Importando as bibliotecas necessária 
from sqlalchemy import create_engine
import pandas as pd

In [2]:
# Usando a classe create_engine da biblioteca sqlalchemy vamos armazena a string de conexão usando Psycopg2
engine = create_engine('postgresql+psycopg2://postgres:HnlZ6R59jk7LGOI0p20GXj7Up@localhost/postgres')

In [3]:
# Para testar vamos utilizar um select simples
sql = 'select * from "Billboard" as TBB limit 10;'

In [4]:
# E usando o select vamos armazenar o resultado na variavel df(dataframe) usando o pandas
df = pd.read_sql_query(sql,engine)

In [6]:
# Pronto tabela sendo retornada em um dataframe
df

,date,rank,song,artist,last-week,peak-rank,weeks-on-board
0,2021-06-12,1,Butter,BTS,1.0,1,2
1,2021-06-12,2,Good 4 U,Olivia Rodrigo,2.0,1,3
2,2021-06-12,3,Levitating,Dua Lipa Featuring DaBaby,4.0,2,35
3,2021-06-12,4,Leave The Door Open,Silk Sonic (Bruno Mars & Anderson .Paak),5.0,1,13
4,2021-06-12,5,Save Your Tears,The Weeknd & Ariana Grande,7.0,1,25
5,2021-06-12,6,Peaches,Justin Bieber Featuring Daniel Caesar & Giveon,6.0,1,11
6,2021-06-12,7,Kiss Me More,Doja Cat Featuring SZA,8.0,5,8
7,2021-06-12,8,Deja Vu,Olivia Rodrigo,3.0,3,9
8,2021-06-12,9,Astronaut In The Ocean,Masked Wolf,10.0,6,16
9,2021-06-12,10,Montero (Call Me By Your Name),Lil Nas X,13.0,1,10